<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Githacks</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste omnis ratione ipsum similique.
			Suscipit, consectetur tempore! Delectus, perspiciatis! Ab nulla veniam a tempora quia earum
			nostrum soluta officia similique tenetur!
		</p>
		<section>lorem ipsum dolor sit amet</section>
		<script src="../javascript/script.js"></script>
	</body>

</html>
